.hosted-by {
    transform: scale(.6);
    -webkit-transform: scale(.6);
    transform-origin: right;
    -webkit-transform-origin: right;
}

.hosted-by:hover {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2)) brightness(0);
    -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2)) brightness(0);
}


@media screen and (max-width: 1281px) {
    .hosted-by {
        transform-origin: left;
        -webkit-transform-origin: left;
    }
}
